*{
	margin: 0;
	padding: 0;
}
body{
	font-family: sans-serif;
	font-size: 100%;
	background: #ddd;
}
h1{
	margin-bottom: 5px;
	font-family: 'Titan One', sans-serif;
	font-size: 36px;
	color: #ddd;
	font-weight: normal;

	text-shadow: 1px 1px 0 #fff, -1px -1px 0 #ccc;
}
.wrapper{
	width: 100%;
}
.container{
	width: 88%;
	margin: 2% auto;
	padding: 20px;
	background: #eee;
	box-shadow: 0 3px 10px rgba(0, 0, 0, .4), inset 0 1px 1px #fff;
	border-radius: 8px;
}
.masthead{
	margin-bottom: 20px;
}
.controls{
	background: #ccc;
	padding: 20px;
	margin-bottom: 30px;

	border-radius: 8px;
	box-shadow: inset 0 2px 5px rgba(0, 0, 0, .2), 0 1px 1px #fff; 
}
.controls p{
	margin-right: 10px;
	line-height: 30px;
	color: #fff;
	float: left;
}
.controls input{
	width: 100px;
	height: 30px;
	margin-right: 10px;
	border: none;
	font: normal 20px/20px Georgia, serif;
	color: #999;
	text-align: center;
	float: left;

	border-radius: 5px;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, .4), 0 1px 1px #fff;
}
.ad-wrapper{
	width: 100%;
	padding: 40px;
	background: #fff;
	box-sizing: border-box;
}
.ad{
	width: 300px;
	height: 250px;
	margin: 0 auto;
	background: #444;
	/*border: 1px dashed #fff;*/
	text-align: center;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}
p.tag{
	font-family: sans-serif;
	font-size: 12px;
	color: #666;
}
p.ad-copy{
	font-size: 20px;
	color: #fff;
	color: rgba(255, 255, 255, 0.5);
}
.button{
	height: 20px;
	padding: 5px 10px;
	background: green;
	color: #fff;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, .3);
	text-decoration: none;
	line-height: 30px;
	border: 1px solid green;
	border-radius: 3px;
	box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.5), inset 0 -1px 5px rgba(0, 0, 0, 0.2), 0 3px 3px rgba(0, 0, 0, .15);
}
.button:hover{
	position: relative;
	top: 1px;	
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}